# ignore local system specific settings
.devcontainer/devcontainer.json
data_dict.json
ros2docker.json
zenoh.json5

# ignore temporary data
__pycache__
.venv/
*.egg-info/
.session_readonly.yaml
.codex
ws/example/**/a/**
ws/example/**/b/**
ws/example/**/a_to_b_topics.txt
ws/example/**/b_to_a_topics.txt
ws/example/**/qos.yaml
