# ignore local system specific settings
/.devcontainer/devcontainer.json
/data_dict.json
/ros2docker.json
/session-instances/
/zenoh.json5

# ignore temporary data
__pycache__
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
/build/
/dist/
coverage.xml
*.egg-info/
.session_readonly.yaml
.codex
examples/sessions/**/a/**
examples/sessions/**/b/**
examples/sessions/**/a_to_b_topics.txt
examples/sessions/**/b_to_a_topics.txt
examples/sessions/**/qos.yaml
