<?xml version="1.0" encoding="UTF-8"?>
<dds xmlns="http://www.eprosima.com/XMLSchemas/fastRTPS_Profiles">
  <profiles>
    <transport_descriptors>
      <transport_descriptor>
        <transport_id>rosotacom_udp</transport_id>
        <type>UDPv4</type>
        <maxMessageSize>1200</maxMessageSize>
      </transport_descriptor>
    </transport_descriptors>

    <participant profile_name="rosotacom_fastdds_unicast" is_default_profile="true">
      <rtps>
        <defaultUnicastLocatorList>
          <locator>
            <udpv4>
              <address>#host_ip</address>
              <port>0</port>
            </udpv4>
          </locator>
        </defaultUnicastLocatorList>

        <builtin>
          <metatrafficUnicastLocatorList>
            <locator>
              <udpv4>
                <address>#host_ip</address>
                <port>0</port>
              </udpv4>
            </locator>
          </metatrafficUnicastLocatorList>

          <initialPeersList>
            <locator>
              <udpv4>
                <address>#host_ip</address>
                <port>0</port>
              </udpv4>
            </locator>
            <!--peer-block--><locator>
              <udpv4>
                <address>#peer</address>
                <port>0</port>
              </udpv4>
            </locator><!--/peer-block-->
          </initialPeersList>
        </builtin>

        <userTransports>
          <transport_id>rosotacom_udp</transport_id>
        </userTransports>
        <useBuiltinTransports>false</useBuiltinTransports>
      </rtps>
    </participant>

    <data_writer profile_name="rosotacom_fastdds_writer" is_default_profile="true">
      <qos>
        <publishMode>
          <kind>ASYNCHRONOUS</kind>
        </publishMode>
        <data_sharing>
          <kind>OFF</kind>
        </data_sharing>
      </qos>
    </data_writer>

    <data_reader profile_name="rosotacom_fastdds_reader" is_default_profile="true">
      <qos>
        <data_sharing>
          <kind>OFF</kind>
        </data_sharing>
      </qos>
    </data_reader>
  </profiles>
</dds>
