<CycloneDDS>
    <Domain>
        <General>
            <AllowMulticast>false</AllowMulticast>
            <Interfaces>
                <NetworkInterface address="#host_ip"/>
            </Interfaces>
            <MulticastRecvNetworkInterfaceAddresses>none</MulticastRecvNetworkInterfaceAddresses>
            <FragmentSize>1200B</FragmentSize>
            <MaxMessageSize>1200B</MaxMessageSize>
            <MaxRexmitMessageSize>1200B</MaxRexmitMessageSize>
        </General>

        <Discovery>
            <Peers>
                <!--peer-block--><Peer Address="#peer"/><!--/peer-block-->
            </Peers>
            <EnableTopicDiscoveryEndpoints>false</EnableTopicDiscoveryEndpoints>
            <LeaseDuration>60s</LeaseDuration>
            <SPDPInterval>30s</SPDPInterval>
        </Discovery>

        <Internal>
            <BuiltinEndpointSet>minimal</BuiltinEndpointSet>
            <SquashParticipants>true</SquashParticipants>
        </Internal>

        <Tracing>
            <Verbosity>config</Verbosity>
            <OutputFile>/tmp/cyclonedds.log</OutputFile>
            <!-- <PacketCaptureFile>/tmp/cyclonedds.pcap</PacketCaptureFile> -->
        </Tracing>
    </Domain>
</CycloneDDS>
