<CycloneDDS>
    <Domain>
        <General>
            <Interfaces>
                <NetworkInterface address="#host_ip"/>
            </Interfaces>
        </General>

        <Discovery>
            <Peers>
                <!--peer-block--><Peer Address="#peer"/><!--/peer-block-->
            </Peers>
        </Discovery>
    </Domain>
</CycloneDDS>
